

body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: garamond, serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 50px;
}
h1 img:hover{
   opacity: 0.8;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    top: 30px;
    width: 90%;
}
.navbar  a {
    
    display: flex;
    padding: 20px;
    font-family:sans-serif ;
    font-size: x-large;
    font-weight: bolder;
    color: #3d3d3d;
    text-decoration: none;
    border: 2px solid #e6ecda;
    border-style: hidden;
    outline-color: #a0ac91;
    border-radius: 10px;
    
}

.navbar a:hover {
    
    background-color: #e6ecda;
    
    border-radius: 10px;
    color: #3d3d3d;
    -webkit-text-stroke: 0.5px #818B6D;
    opacity: 0.6;
    
}

.active {
    background-color: #e6ecda;
    border-radius: 10px;
    
}


.logo img {
    width: 200px;
    padding: 5px;
    
}

h2 {
    font-size: 48px;
}

p1, p2 {
    display: inline-block;
    font-size: large;
    padding: 20px;
    background-color: #EACACC;
    border-radius: 50px;
    opacity: 0.8;
    
}

footer {
    flex-direction: column;
    text-align: center;
}
.logo img {
    max-width: 8%;
    height: auto;
    flex-direction: row;
    

 
