body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: garamond, serif;
}
i {
    float: right; 
    display: block;
}
.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 50px;
}
h1 img:hover{
   opacity: 0.8;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    top: 30px;
    width: 90%;

    
}

ul {
    position: fixed;
    top: 50px;
    width: 90%;
    
}

img {
    width: 200px;
    
}

footer {
    flex-direction: column;
    text-align: center;
}
.logo img {
    max-width: 8%;
    height: auto;
    flex-direction: row;
    
}

