

body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "comic neue";
    text-align: center;
    color: #141414;
    min-height: 100vh;
    
}
/* NAVIGOINTI */



@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        background-image: url('kuvat/Metsataustamobile.png');
        background-repeat: no-repeat;
        margin: 5px;
        overflow-x: hidden !important;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .navbar ul li {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar ul li:last-child {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    


}

li {
    float: right; 
    display: block;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 50px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    top: 30px;
    width: 90%;
}

.navbar ul a {
    
    display: flex;
    padding: 20px;
    font-family: "dynapuff";
    font-size: x-large;
    color: #3d3d3d;
    text-decoration: none;
    border: 2px solid #e6ecda;
    border-style: hidden;
    outline-color: #a0ac91;
    border-radius: 10px;
    
    
}

.navbar a:hover {
    
    background-color: #e6ecda;
    
    border-radius: 10px;
    color: #3d3d3d;
    -webkit-text-stroke: 0.5px #818B6D;
    opacity: 0.6;
    
}

.active {
    background-color: #e6ecda;
    border-radius: 10px;
    
}

.logo {
    width: 200px;
    padding: 5px;
    
}

/* NAVIGOINTI ENDS */


/* SLIDER*/
.mobilehahmo {
    display: none;
}
.slider{
    width: 100%;
    height: 200px;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000,
        transparent);
}

 .flex-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 140px;
    position: relative;
 }

.slider .flex-container .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: autoRun 14s linear infinite;
    animation-delay: calc( ( 14s / 14) * (var(--position) - 1));
}
.slider .flex-container .item img{
  width: 120px;
  height: 140px;
  padding: 10px;
  background-color: #E8B5AC;
}
@keyframes autoRun{
    from{
        right: 100%;
    }
    to{
        right: calc(var(--width)* -1);
    }
}

/* SLIDER ENDS */




    h1 {
        display: block;
        font-size: 90px;
        font-weight: 50;
        font-family: moo lah lah;
        color: #202020;
        margin: 0 auto;
        text-align: center;
    }
    
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 40px;
            padding: 0%;
            
        }
    }
   


@media only screen and (max-width: 600px){
    .slider, .flex-container, .item{
        display: none;

    }
   
    
}

h2 {
    font-family: "dynapuff";
    font-size: x-large;
}

p {
    font-family: "comic neue";
    font-size: large;
    overflow: hidden;
}

.item1, .item2 {
    display: grid;
    font-size: x-large;
    padding: 10%;
    background-color: #fff6f6;
    border-radius: 10px;
    opacity: 0.9;
    font-family: "Goudy bookletter 1911";
    text-align: left;
    margin: 10px;
    margin-bottom: 50px;
   
}


.box-container {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: 20fr;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .box-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    .box-container .poro, .pupu {
        display: none;
    }
    .box-container .morri {
        position: static;
        width: 300px;
    }
    .box-container .item1, .box-container .item2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        align-items: center;
        margin: 5%;
        width: 100%;
        column-gap: 10px;
        padding: 10%;
        background-color: #fff6f6;
        border-radius: 10px;
        opacity: 0.9;
        font-size: large;
        max-width: 70%;
    }
  }

.item1 {
    display: inline-grid;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 7;
    
    
}

 .item2 {
    display: inline-grid;
    grid-column-start: 11;
    grid-column-end: 20;
    grid-row-start: 8;
    grid-row-end: 12;
    

 }
  
.box-container .poro {
  
    grid-column-start: 11;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 7;
}
.box-container .morri {
    
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
}
.box-container .pupu {
   
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 7;
}

.button-container {
    display: flex;
    justify-content: center;
    background-color: #fff6f6;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    
}

.box-container a:link{
    background-color: #fe9fad;
  color: #3d3d3d;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button1, .button2, .button3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    align-content: center;
    justify-content: space-around;
    border-radius: 5%;
    border: 0px solid;
    width: 200px;
    height: 80px;
    background-color: #fe9fad;
    color: #3d3d3d;
    font-family: "dynapuff";
    font-weight: 600;
    margin: 5px auto;
}

.box-container a:link:hover{
    background-color: #fe9fad;
    opacity: 0.9;
    color:#fafafa;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
     0 17px 50px 0 rgba(0,0,0,0.19);
}


@media only screen and (max-width: 600px) {
    .box-container a:link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: medium;
        align-content: center;
        width: 100%;
        height: 60px;
        margin: 5px auto;
        max-width: 80%;
    }

}
 
/* Tästä alkaa äänikirja sliderit */
.aanikirjat {
    font-family: "dynapuff";
    font-size: xxx-large;
}
.slider-container {
    position: relative; /* Important for absolute positioning of arrows */
    width: 60%;
    margin: 10px auto;
    overflow: hidden;
    padding-bottom: 12px;
    text-align: center;
    font-family: "comic neue";
  }
  
  /* Slider row styling */
  .aanikirja_slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 80%,   /* Fully visible on the left */
        rgba(0, 0, 0, 1) 80%,  /* Keep visibility strong for a while */
        rgba(0, 0, 0, 0) 100%  /* Gradual fade-out towards the right */
    );

  }
  .aanikirja_slider::-webkit-scrollbar {
    display: none;
  }

  /* Slide styling */
  .slide {
    width: 200px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.7s ease;
  }

  .slide:hover {
    transform: scale(1.1);
  }

  /* Arrow button styling */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    transition: 0.3s;
  }

  .arrow:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }

  
/*Tähän loppuu äänikirja sliderit */

 /*Ota yhteyttä sivu*/

 .meistaTeksti{
    background-color: rgb(255, 255, 255);
    width: 50%;
    border: 5px solid #818B6D;
    padding: 30px;
    display: flex;
    font-size: x-large;
    border-radius: 70px;
    opacity: 0.8;
    margin: auto;
    text-align : center;
    font-family: "goudy bookletter 1911";
}

@media screen and (max-width: 700px) {
    .meistaTeksti {
        font-size: large;
    }
}

 .otayhteyttabutton {
    background-color: hsl(351, 85%, 87%);
    border: 30px;
    color: hsl(0, 0%, 0%);
    padding: 25px 10px;
    text-align: center;
    text-decoration: rgb(116, 96, 58);
    display: inline-block;
    font-size: 35px;
    margin: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    border-radius: 200px;
    font-family: "dynapuff";
  }


  .otayhteyttacontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meista {
    font-family: "dynapuff"; 
    font-size: xxx-large;
}
/*Ota yhteyttä loppuu*/

footer {
  
    text-align: center;
    width: 100%;
    background-color: #a0ac91;
    opacity: 0.9;
}

.some img {
    max-width: 7%;
    height: auto;
    flex-direction: row;
    
}
 