

body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "comic neue";
    text-align: center;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 50px;
    
    
}
h1 img:hover{
   opacity: 0.8;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    top: 30px;
    width: 90%;
    
}
.navbar  a {
    
    display: flex;
    padding: 20px;
    font-family: "comic neue";
    font-size: x-large;
    font-weight: bolder;
    color: #3d3d3d;
    text-decoration: none;
    border: 2px solid #e6ecda;
    border-style: hidden;
    outline-color: #a0ac91;
    border-radius: 10px;
    
}

.navbar a:hover {
    
    background-color: #e6ecda;
    
    border-radius: 10px;
    color: #3d3d3d;
    -webkit-text-stroke: 0.5px #818B6D;
    opacity: 0.6;
    
}

.active {
    background-color: #e6ecda;
    border-radius: 10px;
    
}


.logo img {
    width: 200px;
    padding: 5px;
    
}

/* SLIDER*/
.slider{
    width: 100%;
    height: 200px;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000,
        transparent);
}
 .flex-container {
    display: flex;
    justify-content: flex-start
    flex-direction: row;
    width: 100%;
    height: 140px;
    position: relative;
 }

.slider .flex-container .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( ( 10s / 7) * (var(--position) - 1));


}
.slider .flex-container .item img{
  width: 120px;
  height: 140px;
  padding: 10px;
  background-color: #e6ecda;
}
@keyframes autoRun{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width)* -1);
    }
}

/* SLIDER ENDS */

h2 {
    font-size: 90px;
    font-weight: 50;
    font-family: moo lah lah;
    color: #202020;
    padding-left: 25%;
    padding-right: 25%;
}

p1, p2 {
    display: inline-block;
    font-size: xx-large;
    padding: 5%;
    background-color: #fafafa;
    border-radius: 50px;
    opacity: 0.8;
    width: 60%;
    border: 5px solid #818B6D
    
}
button{

}

.hahmot {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: 20fr;
    
}
.morri {
    grid-area:7/6/10/7;
}
.poro {
    grid-area: 8/11/12/14;
}
.pupu {
    grid-area: 11/8/14/10;
}

footer {
    
    text-align: center;
    width: 100%;
   
    background-color: #a0ac91;
    opacity: 0.9;
   
    
    
}
.logo img {
    max-width: 8%;
    height: auto;
    flex-direction: row;
    
}

