body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: garamond, serif;
}
li {
    float: right; 
    display: block;
}
.navbar a {
    
    padding: 20px;
    font-family: palatino;
    font-size: large;
    font-weight: bolder;
    color: #3d3d3d;
    text-decoration: none;
    border: 2px solid #e6ecda;
    border-style: hidden;
    outline-color: #a0ac91;
    border-radius: 10px;
    
}
.navbar a:hover {
    border-style: solid;
    border-bottom: #3d3d3d;
    border-radius: 10px;
    
}

.active {
    background-color: #e6ecda;
    border-radius: 10px;
    
}

ul {
    position: fixed;
    top: 50px;
    width: 90%;
    
}

img {
    width: 200px;
    
}

footer {
    flex-direction: column;
    text-align: center;
}
h2 {
    text-align : center
}
p {
    background-color: rgb(255, 255, 255);
  width: 300px;
  border: 15px solid rgb(49, 143, 49);
  padding: 50px;
  margin: auto;
  text-align : center
  }
  .button {
    background-color: #04AA6D;
    border: 30px;
    color: hsl(0, 0%, 100%);
    padding: 25px 10px;
    text-align: center;
    text-decoration: rgb(116, 96, 58);
    display: inline-block;
    font-size: 35px;
    margin: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
  }
  .container {
    display: flex;
    justify-content: center; /* Centers horizontally */
}
  

