body {
    background-image: url("kuvat/Metsatausta.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: garamond, serif;
}
li {
    float: right; 
    display: block;
}
.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 50px;
}
.logo img:hover{
   opacity: 0.8;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    top: 30px;
    width: 90%;
}
.navbar  a {
    
    display: flex;
    padding: 20px;
    font-family: "dynapuff";
    font-size: x-large;
    color: #3d3d3d;
    text-decoration: none;
    border: 2px solid #e6ecda;
    border-style: hidden;
    outline-color: #a0ac91;
    border-radius: 10px;
    
}

.navbar a:hover {
    
    background-color: #e6ecda;
    
    border-radius: 10px;
    color: #3d3d3d;
    -webkit-text-stroke: 0.5px #818B6D;
    opacity: 0.6;
    
}

.active {
    background-color: #e6ecda;
    border-radius: 10px;
    
}


.logo img {
    width: 200px;
    padding: 5px;
    
}

img {
    width: 200px;
    
}

footer {
    flex-direction: column;
    text-align: center;
}
h2 {
    text-align : center
}
p4 {
    background-color: rgb(255, 255, 255);
  width: 50%;
  border: 5px solid #818B6D;
  padding: 30px;
  display: flex;
  font-size: x-large;
  border-radius: 70px;
  opacity: 0.8;
  margin: auto;
  text-align : center

  }
  .otayhteyttabutton {
    background-color: #EDB4BD;
    border: 30px;
    color: hsl(0, 23%, 15%);
    padding: 25px 10px;
    text-align: center;
    text-decoration: rgb(116, 96, 58);
    display: inline-block;
    font-size: 35px;
    margin: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    border-radius: 200px
  }
  .otayhteyttacontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.logo img {
    max-width: 8%;
    height: auto;
    flex: auto;
    flex-direction: column;
    
}

  

